.input{
    min-width: 200px;
}

.contLogin{
    height: 100vh;
    width: 100vw;
}

.mediaP1{

    background-color: #39B54A;
}
.mediaP2{

    background-color: #fc1c24;
}

@media screen and (max-width: 400px) {
    .graficoBar{
        width: 500px;
    }
}